<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.wolframalpha.www.TestWolframalpha</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>compute</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>learnToCodeSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notebookEduResources</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>computeAnythingSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateWhatIsThis</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateOpenCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notebookPlayBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
