<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:57:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestWolframalpha.initialize()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:57:57</td>   <td>6116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.compute()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">compute</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:58:00</td>   <td>9400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.validateOpenCode()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">validateOpenCode</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:58:00</td>   <td>9559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.notebookPlayBtn()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">notebookPlayBtn</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:58:09</td>   <td>18321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.validateWhatIsThis()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">validateWhatIsThis</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:58:10</td>   <td>19167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.notebookEduResources()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">notebookEduResources</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:58:10</td>   <td>19203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.computeAnythingSection()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">computeAnythingSection</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:58:15</td>   <td>24277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.learnToCodeSection()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">learnToCodeSection</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:58:21</td>   <td>30073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWolframalpha.validateFooter()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">validateFooter</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="657ecf">  <td>18/06/26 20:59:16</td>   <td>84981</td> <td>&nbsp;</td><td title="&lt;&lt;TestWolframalpha.teardown()[pri:0, instance:com.wolframalpha.www.TestWolframalpha@6ae5aa72]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902830499</td>   <td></td> </tr>
</table>
